include includes/header.pug
div
   h1= title
   
   form(action="/add-message" method="GET")
     div
       label= 'Title:'
       input(type='text' name='title')
     div
       label= 'Message Text:'
       textarea(name='body')
     div
       button(type='submit' class='btn btn-primary') Submit
   
include includes/footer.pug
